* text=auto

bank_financials_dashboard_overview_2015_2024_report_files.htm linguist-detectable=false

*.htm  linguist-detectable=false
*.html linguist-detectable=false
*.css  linguist-detectable=false

*.sql linguist-detectable=true

