* text=auto

*.htm  linguist-detectable=false
*.html linguist-detectable=false
*.css  linguist-detectable=false

*.bas linguist-language=VBA
*.cls linguist-language=VBA
*.frm linguist-language=VBA
*.vba linguist-language=VBA

*.sql linguist-detectable=true linguist-language=SQL

*.py linguist-detectable=true linguist-language=Python
